*
{
	font-family: 'Georgia', serif;
	font-weight: 400;
	font-size: 1em;
	margin: 0;
	padding: 0;
}
h1, h2, h3, h4, h5, h6
{
     font-family: 'Verdana', sans-serif;
	 font-weight: 700;
}
h1{	font-size:3em;}
h2{	font-size:2.7em;}
h3{	font-size:2.3em;}
h4{	font-size:1.9em;}
h5{	font-size:1.5em;}
h6{	font-size:1em;}
body,html
{
	height: 100%;
}
.bg
{
	height: 100%;
	background: #fff url('media/new-york-4582507_1920.jpg') no-repeat fixed;
}
.txt
{
	padding: 3em;
	min-height: 20vh;
	background-color: rgba(248,248,255,1);
}
#landingPageGrid
{
	display: grid;
	grid-template-columns: auto auto auto auto;
	grid-template-rows: 5em;
	margin-top: 1em;
	margin-bottom: 1em;
	background: #fff url('media/new-york-4582507_1920.jpg') no-repeat fixed;
	background-size: cover;
	
}
.landingPageButton
{
	width: 100%;
	height: 100%;
	border: none;
	background-color: rgba(248,248,255,0.6);
	color: #ba0000;
	text-align:center;
	display:flex;
	align-items:center;
	justify-content:center;
	text-decoration:none;
}
.landingPageButton *
{
	color: #ba0000;
	font-size: 2em;
	font-weight:600;
}
.landingPageButton:hover
{
	background-color: rgba(248,248,255,0.8);
	cursor: pointer;
}
#scrollDown
{
	position: absolute;
	bottom: 5vh;
	left: 46vw;
	width: 8vw;
	height:auto;
}
p
{
	padding-top:0.5em;
	padding-bottom:1em;
	font-size:1.4em;
	line-height:1.5em;
}
a, a:visited
{
	text-decoration: underline;
	color: black;
}
a:hover,a:active
{
	color: #ba0000;
}
.wrapper
{
	display:grid;
}
#factPage .wrapper
{
	grid-template-columns: 60vw 40vw;
	grid-template-rows: 100vh;
}
#sightPage .wrapper
{
	grid-template-columns: 50vw 50vw;
	grid-template-rows: auto auto auto auto auto auto auto auto auto auto;
}
.videoCol video
{
	height:100%;
	width:auto;
}
#factPage,#virtualTourPage,#virtualTourPage *
{
	overflow:hidden;
}
#sightPage
{
	overflow-x:hidden;
}
.txtCol,#imprintPage
{
	padding: 3em;
}
ul ul, ul ol
{
	margin-left: 2vw;
}
ul,ol,li
{
	padding:0.2em;
}
.noLST
{
	list-style-type:none;
}
.imgCol img
{
	width: 100%;
	height:100%;
	object-fit:cover;
}
#factPage .txtCol
{
	overflow-x:auto;
	-ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
#factPage .txtCol::-webkit-scrollbar {
  display: none;
}
#vt
{
	width:100%;
	height:100%;
}
